<!DOCTYPE html>
<html lang="en">
  <%- include("header") %>
  <body>
    <%- include("navbar") %>
    <div
      class="container-fluid bg-table h-auto position-relative"
      style="min-height: 89.1vh;"
    >
    <button id="seat-1" class="position-absolute p-4 seats" style="width:12%; top: 10%; left: 31%">Sit</button>
    <button id="seat-2" class="position-absolute p-4 seats" style="width:12%; top: 10%; left: 53%">Sit</button>
    <button id="seat-3" class="position-absolute p-4 seats" style="width:12%; top: 18%; left: 12%">Sit</button>
    <button id="seat-4" class="position-absolute p-4 seats" style="width:12%; top: 18%; right: 12%">Sit</button>
    <button id="seat-5" class="position-absolute p-4 seats" style="width:12%; top: 35%; left: 7%">Sit</button>
    <button id="seat-6" class="position-absolute p-4 seats" style="width:12%; top: 35%; right: 7%">Sit</button>
    <button id="seat-8" class="position-absolute p-4 seats" style="width:12%; top: 53%; left: 7%">Sit</button>
    <button id="seat-9" class="position-absolute p-4 seats" style="width:12%; top: 53%; right: 7%">Sit</button>
    <button id="seat-10" class="position-absolute p-4 seats" style="width:12%; bottom: 20%; left: 12%">Sit</button>
    <button id="seat-11" class="position-absolute p-4 seats" style="width:12%; bottom: 20%; right: 12%">Sit</button>
    <button id="main-seat" class="position-absolute p-4 seats" style="width:20%; bottom: 10%; left: 40%">Main Hand</button>

  </body>
</html>
