<!DOCTYPE html>
<html lang="en">
  <%- include("header") %>
  <body>
    <%- include("navbar") %>

    <div class="container-fluid bg-dark h-auto">
      <div class="row bg-image justify-content-end" style="min-height: 89.1vh;">
        <div
          id="sidebar"
          class="col-12 col-sm-4 p-3 d-flex flex-column justify-content-center align-items-center bg-transparent-black"
          style="min-height: 89.1vh;"
        >
          <div class="fw-light mb-3 text-center" style="font-size: 60px">
            <img src="/images/logo-transparent.png" width="75%" height="auto" />
          </div>
          <div>
            <a href="/login">
              <button class="main-btn">
                Get Started
              </button></a
            >
          </div>
        </div>
      </div>
    </div>

    <%- include("footer") %>
  </body>
</html>
