<nav
  class="navbar navbar-dark navbar-expand-sm bg-black h-auto d-flex align-items-center shadow"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" width="75" height="75" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-navbar" aria-current="page" href="#"
            >Create Game</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active  text-navbar" href="#">Join Game</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
